<!DOCTYPE html>
<html lang="en">
<head>
<title>Moneyball</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static\test.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>


<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-sablue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-bluegold">Moneyball</a>
    <a href="statcast.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-bluegold">Statcast Leaders</a>
    <a href="blog.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-bluegold">Articles</a>
    <a href="bts.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-bluegold">Beat the Streak Predictor</a>
    <a href="scouting.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-bluegold">Scouting Reports</a>
    <a href="about.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-bluegold">About</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-sablue w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Moneyball</a>
    <a href="statcast.html" class="w3-bar-item w3-button w3-padding-large">Statcast Leaders</a>
    <a href="blog.html" class="w3-bar-item w3-button w3-padding-large">Articles</a>
    <a href="bts.html" class="w3-bar-item w3-button w3-padding-large">Beat the Streak Predictor</a>
    <a href="scouting.html" class="w3-bar-item w3-button w3-padding-large">Scouting Reports</a>
    <a href="about.html" class="w3-bar-item w3-button w3-padding-large">About</a>
  </div>
</div>


<!-- Header -->
<header class="w3-container w3-sablue w3-center" style="padding:64px 16px">
  <h1 class="w3-margin w3-jumbo">Articles</h1>
</header>


<div class="w3-content">

<!-- Grid -->
<div class="w3-row">


<!-- Blog entries -->
<div class="w3-col l8 s12">

  <!-- Shift Winners and Losers -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="static/baseball.png" alt="Baseball" style="width:100%">
    <div class="w3-container">
      <h3><b>Shift Winners and Losers</b></h3>
      <h5>Who will the shift ban effect most? <span class="w3-opacity">January 27, 2023</span></h5>
    </div>

    <div class="w3-container">
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a href="shift.html"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE</b></button></a></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Building a Playoff Winner -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="static/baseball.png" alt="Baseball" style="width:100%">
    <div class="w3-container">
      <h3><b>Building a Playoff Winner</b></h3>
      <h5>How does roster construction impact results come October? <span class="w3-opacity">November 1, 2022</span></h5>
    </div>

    <div class="w3-container">
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a href="roster.html"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE</b></button></a></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments</b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- ABS Winners and Losers -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="static/glove.png" alt="Glove" style="width:100%">
    <div class="w3-container">
      <h3><b>ABS Winners and Losers</b></h3>
      <h5>Which players will benefit most from the introduction of an automated strikezone? <span class="w3-opacity">January 1, 2023</span></h5>
    </div>

    <div class="w3-container">
      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
        tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a href="abs.html"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE</b></button></a></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments</b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>

<!-- END BLOG ENTRIES -->
</div>


<!-- Introduction menu -->
<div class="w3-col l4">

  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>All Articles</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Shift Winners and Losers</span><br>
        <span>Who will the shift ban effect most?</span>
      </li> 
      <li class="w3-padding-16">
        <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Building a Playoff Winner</span><br>
        <span>How does roster construction impact results come October?</span>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">ABS Winners and Losers</span><br>
        <span>Which players will benefit most from the introduction of an automated strikezone?</span>
      </li> 
      <li class="w3-padding-16">
        <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Wildest Pitches of 2022</span><br>
        <span>What were the wildest pitches thrown last season?</span>
      </li>    
    </ul>
  </div>
  <hr> 
 

  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Baseball</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Chicago</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Analytics</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Statcast</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">MLB</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Statistics</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shift</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Roster</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Playoffs</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">World Series</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">ABS</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Umpire</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Strikezone</span>
    </p>
    </div>
  </div>
  

<!-- END Introduction Menu -->
</div>


<!-- END GRID -->
</div><br>

</div>

<!-- END w3-content -->
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <a href="https://www.instagram.com/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <a href="https://twitter.com/StatcastAwards"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/shawn-riemer-035741189/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>


</body>
</html>